
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">


        <span ng-click="show1()" class="kind">{{chat.kind}}</span>
        <span ng-click="show2()" class="kinds">{{chat.kinds}}</span>


    <ion-item ng-repeat="x in chatt" type="item-text-wrap" href="#/tab/chats/{{chat.id}}" class="photo">
      <img ng-src="{{x.face}}" style="width: 40px; height: 40px">
      <p class="top">{{x.name}}</p>
      <p>{{x.lastText}}</p>
      <p class="line">{{x.say}}</p>
      <span>{{x.price}}</span>
      <span>{{x.money}}</span>

    </ion-item>

  </ion-content>
</ion-view>

