<ion-view  hide-tabs="true" view-title="智慧管家">
  <link rel="stylesheet" href="./css/dash-notice.css">
  <ion-content class="padding contents ">
    <div class="contentItem">
      <div class="noticeItem">
        <div class="items">
          <img src="./img/n1.png" alt="">
          <p>咨询建议</p>
        </div>
        <div class="items">
          <img src="./img/n2.png" alt="">
          <p>便民服务</p>
        </div>
        <div class="items">
          <img src="./img/n3.png" alt="">
          <p>物业缴费</p>
        </div>
      </div>
      <div class="noticeItem">
        <div class="items">
          <img src="./img/n4.png" alt="">
          <p>快递代寄</p>
        </div>
        <div class="items">
          <img src="./img/n5.png" alt="">
          <p>投诉表扬</p>
        </div>
        <div class="items">
          <img src="./img/n6.png" alt="">
          <p>维修服务/p>
        </div>
      </div>
      <div class="noticeItem">
        <div class="items">
          <img src="./img/n7.png" alt="">
          <p>访客通行</p>
        </div>
      </div>
    </div>
    <div class="notic">
      <span>物业公告</span>
      <button class="button button-outline button-positive">更多</button>
    </div>
    <div class="notMess">
      <p>电梯维修通知</p>
      <p class="stopWater">保利时代A1栋-停水通知</p>
    </div>
  </ion-content>
</ion-view>
