<ion-view  hide-tabs="true" view-title="业主自治">
  <link rel="stylesheet" href="./css/dash-ye.css">
  <ion-content class="padding contents ">
    <div class="yeContent" ng-click="noticeMessage()">
      <div class="yeItem">
        <img src="./img/y1.png" alt="">
        <p>公示公告</p>
      </div>
      <div class="yeItem" ng-click="goHong()">
        <img src="./img/y2.png" alt="">
        <p>红黑榜</p>
      </div>
    </div>
    <div class="notic">
      <span>自治违规</span>
      <button class="button button-outline button-positive">更多</button>
    </div>
    <div class="notMess">
      <p>禁止高空抛物</p>
      <p>文明养犬</p>
      <p>装修提示</p>
      <p>城市市民公约</p>
    </div>
  </ion-content>
</ion-view>
