<ion-view view-title="家用电话">
  <ion-content class="contents">
    <link href="css/style1.css" rel="stylesheet">
    <div class="phone">
      <div class="phones">
        <img src="../img/phone1.png" alt="" style="width: 15px;height: 15px;">
        <span>拨打生活服务中心电话</span>
      </div>
    </div>
    <p class="drak">园区服务电话</p>
    <div>
      <div class="itcon">
          <p>诚园物业服务中心</p>
          <p>123465465</p>
      </div>
      <div class="itcon">
        <p>诚园物业服务中心</p>
        <p>123465465</p>
      </div>
      <div class="itcon">
        <p>诚园物业服务中心</p>
        <p>123465465</p>
      </div>
      <div class="itcon">
        <p>诚园物业服务中心</p>
        <p>123465465</p>
      </div>
      <div class="itcon">
        <p>诚园物业服务中心</p>
        <p>123465465</p>
      </div>
      <div class="itcon">
        <p>诚园物业服务中心</p>
        <p>123465465</p>
      </div>

    </div>
  </ion-content>
</ion-view>



