
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding padd1">
    <link href="../css/style1.css" rel="stylesheet">
      <div class="wrapSpan">
        <span ng-click="show1()" class="kind">全部分类</span>
        <span ng-click="show2()" class="kinds">默认排序</span>
      </div>



    <ion-item ng-repeat="x in chatt" type="item-text-wrap" href="#/tab/work1" class="photo">
      <img ng-src="{{x.face}}" style="width: 40px; height: 40px">

        <p class="top">{{x.name}}</p>
        <p>{{x.lastText}}</p>
        <p class="line">{{x.say}}</p>
        <span>{{x.price}}</span>
        <span>{{x.money}}</span>


    </ion-item>

  </ion-content>
</ion-view>

