<ion-view view-title="保利尚城">
  <link rel="stylesheet" href="css/myHome.css">
  <link rel="stylesheet" href="css/myCodes.css">
  <ion-nav-buttons side="left">
    <i class="iconfont icon-scanner"><img src="./img/scanner.png" alt=""></i>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <i class="iconfont icon-message"><img src="./img/message.png" alt=""></i>
  </ion-nav-buttons>

  <ion-content class="padding" id="content">
    <!-- start 轮播图-->
    <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000>
      <ion-slide>
        <div class="box banner"><img src="./img/slide1.jpg" /> </div>
      </ion-slide>
      <ion-slide>
        <div class="box banner"><img src="./img/slide1.jpg" /></div>
      </ion-slide>
      <ion-slide >
        <div class="box banner"><img src="./img/slide1.jpg" /></div>
      </ion-slide>
    </ion-slide-box>
    <!-- end 轮播图-->
    <div id="banners">
      <span>宗旨1：给业主提供最温馨的服务</span>
    </div>
    <ion class="row">
      <ion-col button text-center class="col cols1" ng-click="water()">
        <img src="./img/water.png" alt="">
        <span>送水</span>
      </ion-col>
      <ion-col  button text-center  class="col cols2" ng-click="payment()">
        <img src="./img/pay.png" alt="">
        <span>缴费</span>
      </ion-col>
      <ion-col button text-center class="col cols3" ng-click="market()">
        <img src="./img/shop.png" alt="">
        <span>超市</span>
      </ion-col>
      <ion-col button text-center class="col cols4 item-remove-animate " ng-click="sug()">
        <img src="./img/suggestion.png" alt="">
        <span>建议</span>
      </ion-col>
      <ion-col button text-center class="col cols5 item-remove-animate"  ng-click="home()">
        <img src="./img/home.png" alt="">
        <span>家居</span>
      </ion-col>
    </ion>

  </ion-content>
</ion-view>
