<ion-view view-title="保利尚城">
  <ion-content class="padding " id="banners">
    <span>宗旨1：给业主提供最温馨的服务</span>
    <span>宗旨1：给业主提供最温馨的服务</span>
    <span>宗旨1：给业主提供最温馨的服务</span>

  </ion-content>
  <div class="row indexMenu">
    <div class="col water" ng-click="water()">
      <div class="waterImg waterImg1">
        <span class = "ion-waterdrop "></span>
      </div>

      <p>送水</p>
    </div>
    <div class="col water" ng-click="payment()">
      <div class="waterImg  waterImg2">
        <span class = "ion-ios-home "></span>
      </div>

      <p>缴费</p>

    </div>
    <div class="col water" ng-click="market()">
      <div class="waterImg  waterImg3">
        <span class = "ion-ios-cart "></span>
      </div>

      <p>超市</p>
    </div>
    <div class="col water">
      <div class="waterImg  waterImg4">
        <span class = "ion-ios-telephone"></span>
      </div>

      <p>建议</p>
    </div>
    <div class="col water">
      <div class="waterImg  waterImg5">
        <img src="../img/sofa.png" alt="">
      </div>

      <p>家居</p>
    </div>
  </div>

</ion-view>
