.select  .codeItems{
  color:#000;
  font-size:18px;
  /*border:1px solid blue;*/
}
.decideGoods{
  width: 98%;
  height: 52px;
  line-height: 52px;
  font-size: 18px;
  margin-left: 20px;
  border-bottom:1px solid #eaeaea;
  /*border:1px solid red;*/
}
.decideGoods .goodnames{
  display: inline-block;
  width: 60%;
  height: 50px;
  font-size:16px;
  line-height: 50px;
  /*border:1px solid red;*/
}
.decideGoods .numPrice{
  display: inline-block;
  width: 20%;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  float: right;
  margin-right: 55px;
  color:#32db64;
  /*border:1px solid red;*/
}
p.decideMon{
  width: 98%;
  height: 52px;
  line-height: 52px;
  font-size: 16px;
  margin-left: 20px;
  color:#000;
  /*border:1px solid blue;*/
}
p.decideMon span{
  display: inline-block;
  width: 21%;
  height: 52px;
  line-height: 52px;
  text-align: center;
  float: right;
  margin-right: 52px;
  color:#32db64;
  /*border:1px solid blue;*/
}
.serviceTime{
  display: inline-block;
  width: 100%;
  height: 104px;
  margin-left: 10px;
  margin-bottom: 15px;
  /*border:1px solid red;*/
}
.serviceTime .times{
  margin-top: -17px;
  height: 52px;
  line-height: 52px;
  display: inline-block;
  /*border:1px solid blue;*/
}
.serviceTime .timeServer{
  height: 52px;
  line-height: 52px;
  /*border:1px solid red;*/
}
.serviceTime .timeServer span{
  display: inline-block;
  height: 52px;
  line-height: 52px;
  margin-left: 15px;
  color:#000;
  letter-spacing: 1px;
}
.serviceTime .timeServer .times{
  display: inline-block;
  height: 52px;
  line-height: 52px;
  float: right;
  margin-top: 2px;
  margin-right: 50px;
  color:#007aff;

}
.serviceTime .words{
  width: 99%;
  height: 52px;
  line-height: 52px;
  margin-left: 10px;
  border-top:1px solid #eaeaea;
  /*border:1px solid red;*/
}
.serviceTime .words span{
  display: inline-block;
  margin-left: 5px;
  color:#000;
  font-size: 16px;
}
.serviceTime .words input[type="text"] {
  width: 60%;
  height: 48px;
  line-height: 48px;
  /*border:1px solid red;*/
  margin-top: -5px;
  font-size: 16px;
  color:#000;
  text-indent: 10px;
}
.item.shouldPay {
  height: 52px;
  line-height: 52px;
  width: 100%;
  padding-left: 20px;
  font-size: 18px;
}
.selectWays{
  margin-bottom: 100px;
}
.selects{
  width: 106%;
  height: 42px;
  line-height: 42px;
  background-color: #f8f8f8;
  text-indent: 15px;
  font-size: 16px;
  color:#000;
  margin-bottom: 0;
  /*border:1px solid blue;*/
}

button.button.button-block.button-positive {
  height: 50px;
  font-size: 18px;
  margin: 15px 0;
  margin-bottom: 50px;
  bottom: 0;
  position: fixed;
  bottom: -50px;
}
.wayheader{
  width: 110%;
  height: 208px;
  margin-left: -7px;
  margin-top: -15px;
  background-color: #fff;
  margin-bottom: 15px;
  /*border:1px solid red;*/
}
.wayheader p{
  height: 52px;
  line-height: 52px;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  font-size: 17px;
  color:#000;
  /*border:1px solid red;*/
}
.wayheader .codeHao{
  margin-top: -16px;
}
.wayheader p .moneys{
  color:#32db64;
  /*border:1px solid red;*/
}
span.money.ng-binding {
  color: #32db64;
  float: right;
  margin-right: 40px;
}
.wayContents.item {
  background: #efefef;
}
.selectways{
  width: 110%;
  font-size: 17px;
  color:#000;
  margin-left: 8px;
  margin-top: 20px;
  background-color: #efefef;
  /*border:1px solid red;*/
  /*background-color: red;*/
}
.selectWays .selects{
  color:#000;
  font-size: 17px;
}
.selectWays .radio-content {
  width:100%;
}
.selectways ion-list.waySele .wayItems{
  width: 106%;
  border:none;
  height: 61px;
  line-height: 61px;
  margin-top: -5px;
}
.selectways  .wayItems span{
  display: inline-block;
  border-bottom:1px solid #eaeaea;
  width: 100%;
  height:58px;
  line-height:58px;
  margin-top: -20px;
  /*margin-left: -20px;*/
  vertical-align: top;
}
.selectways ion-list.waySele img{
  display: inline-block;
  width: 40px;
  height: 35px;
  vertical-align: top;
  margin-top: -5px;
  margin-left: -20px;
}
.selectways i.radio-icon.disable-pointer-events.icon.ion-checkmark {
  vertical-align: top;
  margin-top: -15px;
}
.selectways  label.item.item-radio.ng-valid.ng-not-empty {
  margin-left: -0px;
  width: 85%;
  height: 60px;
  text-indent: 0;
  padding: 0;
}
/*.popup-body {*/
  /*padding: 10px;*/
  /*overflow: auto;*/
  /*color: #999;*/
  /*margin-top: -19px;*/
  /*padding-bottom: 20px;*/
  /*border-bottom: 1px solid #eaeaea;*/
  /*font-size: 15px;*/
  /*border:1px solid red;*/
/*}*/










































