.list {
  background: #f1f1f1;
}
.bank{
  height: 150px;
  margin-bottom: 20px;
  background-color: #fff;
  border:1px solid #eaeaea;
}
.bank2{
  width: 93%;
  height: 64px;
  margin-left: 5%;
  font-size: 16px;
  color:#999;
  /*background-color: #fff;*/
  border-bottom:1px solid #e2e2e2;
  /*border:1px solid red;*/
}
.bank2 p{
  margin: 0;
  padding: 0;
}
.bank2 .titles{
  padding-top: 10px;
  font-size: 18px;
  color:#000;
  margin-bottom: 3px;
}
.message{
  margin: 0;
  padding: 0;
  width: 90%;
  margin: 10px auto;
  height:64px;
  line-height: 15px;
  font-size: 14px;
  color:#999;
}
